<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>vue js own </title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">
	<link href="css/hover.css" rel="stylesheet" media="all">
</head>
<body>


<div id="app">
	 <br/><br/><br/>
    
    <section id="plans">
        <div class="container ">
            <div class="row">


                 <div class="col-md-4 text-center col-md-offset-4">
                    <div class="panel panel-success panel-pricing">
                        <div class="panel-heading">
                            <i class="fa fa-desktop"></i>
                            <h3>Todo List</h3>
                            <p>Type & press enter to add. Click on item to edit and then press enter</p>
                        </div>
						<table class="table">
					    	<tr v-for="i in todos">
					    		<td class="col-md-10 hvr-bounce-in" ><todo-component v-bind:todo="i" ></todo-component></td>
					    		<td class="col-md-2">
                                <button type="button" class="btn btn-danger" v-on:click="removeTodo($index)">Done</button></td>
					    	</tr>
					    </table>

                        <div class="panel-footer">
                        	<input class="form-control " type="text" placeholder="Type and Enter to add" v-model="Text" v-on:keyup.esc="clearText" v-on:keyup.X="addingX" v-on:keyup.enter="createTodo"><br>
                            <a class="btn btn-lg btn-block btn-success" href="https://github.com/emtiazzahid/todo_vuejs">Source>></a>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>


	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js"></script>
	<script src="js/main.js" type="text/javascript" charset="utf-8" async defer></script>
</body>
</html>


